# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
import pandas as pd
import selenium
import time

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException

from bs4 import BeautifulSoup

import warnings
warnings.filterwarnings('ignore')

import re

In [13]:
driver = webdriver.Chrome()

In [14]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [15]:
rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

In [16]:
name_ = driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr/td[1]')
for i in name_:
    if i.text is None :
        name.append("--") 
    else:
        name.append(i.text)
print(len(name),name)

30 ['"Baby Shark Dance"[7]', '"Despacito"[10]', '"Johny Johny Yes Papa"[18]', '"Bath Song"[19]', '"See You Again"[20]', '"Shape of You"[25]', '"Wheels on the Bus"[28]', '"Phonics Song with Two Words"[29]', '"Uptown Funk"[30]', '"Gangnam Style"[31]', '"Learning Colors – Colorful Eggs on a Farm"[36]', '"Dame Tu Cosita"[37]', '"Axel F"[38]', '"Masha and the Bear – Recipe for Disaster"[39]', '"Baa Baa Black Sheep"[40]', '"Lakdi Ki Kathi"[41]', '"Sugar"[42]', '"Counting Stars"[43]', '"Roar"[44]', '"Waka Waka (This Time for Africa)"[45]', '"Shree Hanuman Chalisa"[46]', '"Humpty the train on a fruits ride"[47]', '"Sorry"[48]', '"Thinking Out Loud"[49]', '"Perfect"[50]', '"Dark Horse"[51]', '"Let Her Go"[52]', '"Faded"[53]', '"Girls Like You"[54]', '"Lean On"[55]']

In [17]:
artist_ = driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr/td[2]')
for i in artist_:
    if i.text is None:
        artist.append('--')
    else:
        artist.append(i.text)
print(len(artist),artist)

30 ["Pinkfong Baby Shark - Kids' Songs & Stories", 'Luis Fonsi', "LooLoo Kids - Nursery Rhymes and Children's Songs", 'Cocomelon - Nursery Rhymes', 'Wiz Khalifa', 'Ed Sheeran', 'Cocomelon - Nursery Rhymes', 'ChuChu TV Nursery Rhymes & Kids Songs', 'Mark Ronson', 'Psy', 'Miroshka TV', 'Ultra Records', 'Crazy Frog', 'Get Movies', 'Cocomelon - Nursery Rhymes', 'Jingle Toons', 'Maroon 5', 'OneRepublic', 'Katy Perry', 'Shakira', 'T-Series Bhakti Sagar', 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs', 'Justin Bieber', 'Ed Sheeran', 'Ed Sheeran', 'Katy Perry', 'Passenger', 'Alan Walker', 'Maroon 5', 'Major Lazer Official']

In [18]:
upload_date_ = driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr/td[4]')
for i in upload_date_:
    if i.text is None:
        upload_date.append('--')
    else:
        upload_date.append(i.text)
print(len(upload_date),upload_date)

30 ['June 17, 2016', 'January 12, 2017', 'October 8, 2016', 'May 2, 2018', 'April 6, 2015', 'January 30, 2017', 'May 24, 2018', 'March 6, 2014', 'November 19, 2014', 'July 15, 2012', 'February 27, 2018', 'April 5, 2018', 'June 16, 2009', 'January 31, 2012', 'June 25, 2018', 'June 14, 2018', 'January 14, 2015', 'May 31, 2013', 'September 5, 2013', 'June 4, 2010', 'May 10, 2011', 'January 26, 2018', 'October 22, 2015', 'October 7, 2014', 'November 9, 2017', 'February 20, 2014', 'July 25, 2012', 'December 3, 2015', 'May 31, 2018', 'March 22, 2015']

In [19]:
views_ = driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr/td[3]')
for i in views_:
    if i.text is None:
        views.append('--')
    else:
        views.append(i.text)
print(len(views),views)

30 ['14.66', '8.47', '6.92', '6.75', '6.30', '6.28', '6.22', '5.84', '5.25', '5.20', '5.13', '4.68', '4.60', '4.60', '4.10', '4.07', '4.06', '4.03', '4.01', '3.96', '3.90', '3.84', '3.82', '3.78', '3.75', '3.74', '3.68', '3.65', '3.62', '3.62']

In 1st question we have to scrap most viewed youtube videos but in that table we are not able to scrap the rank in that table \

In [21]:
df = pd.DataFrame({'Name':name, 'Artist':artist, 'Upload Date':upload_date, 'Views':views})
df

,Name,Artist,Upload Date,Views
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.66
1,"""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.47
2,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.92
3,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.75
4,"""See You Again""[20]",Wiz Khalifa,"April 6, 2015",6.30
5,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",6.28
6,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,"May 24, 2018",6.22
7,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.84
8,"""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.25
9,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.20
10,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.13
11,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.68
12,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.60
13,"""Masha and the Bear – Recipe for Disaster""[39]",Get Movies,"January 31, 2012",4.60
14,"""Baa Baa Black Sheep""[40]",Cocomelon - Nursery Rhymes,"June 25, 2018",4.10
15,"""Lakdi Ki Kathi""[41]",Jingle Toons,"June 14, 2018",4.07
16,"""Sugar""[42]",Maroon 5,"January 14, 2015",4.06
17,"""Counting Stars""[43]",OneRepublic,"May 31, 2013",4.03
18,"""Roar""[44]",Katy Perry,"September 5, 2013",4.01
19,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.96
20,"""Shree Hanuman Chalisa""[46]",T-Series Bhakti Sagar,"May 10, 2011",3.90
21,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.84
22,"""Sorry""[48]",Justin Bieber,"October 22, 2015",3.82
23,"""Thinking Out Loud""[49]",Ed Sheeran,"October 7, 2014",3.78
24,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.75
25,"""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.74
26,"""Let Her Go""[52]",Passenger,"July 25, 2012",3.68
27,"""Faded""[53]",Alan Walker,"December 3, 2015",3.65
28,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.62
29,"""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.62

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get('http://statisticstimes.com/')

In [7]:
economy = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button')       
economy.click()

In [8]:
ind = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]')      
ind.click()

In [9]:
GDP_Ind = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
GDP_Ind.click()

In [10]:
rank = []
state = []
gsdp18_19 = []
gsdp19_20 = []
share18_19 = []
gdp = []

In [11]:
rank_ = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[1]')
for i in rank_:
    if i.text is None :
        rank.append("--") 
    else:
        rank.append(i.text)
print(len(rank),rank)

33 ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33']

In [12]:
state_ = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[2]')
for i in state_:
    if i.text is None :
        state.append("--") 
    else:
        state.append(i.text)
print(len(state),state)

33 ['Maharashtra', 'Tamil Nadu', 'Karnataka', 'Uttar Pradesh', 'Gujarat', 'West Bengal', 'Rajasthan', 'Andhra Pradesh', 'Telangana', 'Madhya Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Odisha', 'Bihar', 'Punjab', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Arunachal Pradesh', 'Nagaland', 'Mizoram', 'Andaman & Nicobar Islands']

In [13]:
gsdp18_19_ = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[10]')
for i in gsdp18_19_:
    if i.text is None :
        gsdp18_19.append("--") 
    else:
        gsdp18_19.append(i.text)
print(len(gsdp18_19),gsdp18_19)

33 ['2,027,971', '1,343,287', '1,235,377', '1,200,093', '1,365,922', '787,439', '727,805', '722,727', '669,229', '584,470', '578,057', '580,396', '544,317', '430,541', '399,930', '434,261', '278,835', '280,609', '243,348', '184,274', '119,174', '124,770', '55,342', '39,487', '30,587', '27,131', '24,267', '20,728', '20,515', '19,707', '17,336', '18,494', '7,172']

In [14]:
gsdp19_20_ = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[5]')
for i in gsdp19_20_:
    if i.text is None :
        gsdp19_20.append("--") 
    else:
        gsdp19_20.append(i.text)
print(len(gsdp19_20),gsdp19_20)

33 ['3,108,022', '2,071,286', '1,978,094', '1,975,595', '1,928,683', '1,329,238', '1,193,489', '1,148,471', '1,124,204', '1,092,964', '934,542', '881,336', '868,905', '662,886', '650,302', '617,192', '411,454', '410,525', '358,863', '267,143', '193,352', '172,162', '84,266', '62,550', '46,096', '43,810', '38,785', '37,557', '36,594', '34,775', '31,038', '27,824', '10,371']

In [15]:
share18_19_ = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[6]')
for i in share18_19_:
    if i.text is None :
        share18_19.append("--") 
    else:
        share18_19.append(i.text)
print(len(share18_19),share18_19)

33 ['13.17%', '8.78%', '8.38%', '8.37%', '8.17%', '5.63%', '5.06%', '4.87%', '4.76%', '4.63%', '3.96%', '3.73%', '3.68%', '2.81%', '2.76%', '2.62%', '1.74%', '1.74%', '1.52%', '1.13%', '0.82%', '0.73%', '0.36%', '0.27%', '0.20%', '0.19%', '0.16%', '0.16%', '0.16%', '0.15%', '0.13%', '0.12%', '0.04%']

In [16]:
gdp_ = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[7]')
for i in gdp_:
    if i.text is None :
        gdp.append("--") 
    else:
        gdp.append(i.text)
print(len(gdp),gdp)

33 ['414.928', '276.522', '264.080', '263.747', '257.484', '177.456', '159.334', '153.324', '150.084', '145.913', '124.764', '117.660', '116.001', '88.497', '86.817', '82.397', '54.930', '54.806', '47.909', '35.664', '25.813', '22.984', '11.250', '8.351', '6.154', '5.849', '5.178', '5.014', '4.885', '4.643', '4.144', '3.715', '1.385']

In [17]:
df = pd.DataFrame({'Rank':rank, 'State':state, 'GSDP(18-19)- at current prices':gsdp18_19, 'GSDP(19-20)- at current prices':gsdp19_20, 'Share(18-19)':share18_19, 'GDP':gdp })
df

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP
0,1,Maharashtra,"2,027,971","3,108,022",13.17%,414.928
1,2,Tamil Nadu,"1,343,287","2,071,286",8.78%,276.522
2,3,Karnataka,"1,235,377","1,978,094",8.38%,264.080
3,4,Uttar Pradesh,"1,200,093","1,975,595",8.37%,263.747
4,5,Gujarat,"1,365,922","1,928,683",8.17%,257.484
5,6,West Bengal,"787,439","1,329,238",5.63%,177.456
6,7,Rajasthan,"727,805","1,193,489",5.06%,159.334
7,8,Andhra Pradesh,"722,727","1,148,471",4.87%,153.324
8,9,Telangana,"669,229","1,124,204",4.76%,150.084
9,10,Madhya Pradesh,"584,470","1,092,964",4.63%,145.913
10,11,Kerala,"578,057","934,542",3.96%,124.764
11,12,Delhi,"580,396","881,336",3.73%,117.660
12,13,Haryana,"544,317","868,905",3.68%,116.001
13,14,Odisha,"430,541","662,886",2.81%,88.497
14,15,Bihar,"399,930","650,302",2.76%,86.817
15,16,Punjab,"434,261","617,192",2.62%,82.397
16,17,Assam,"278,835","411,454",1.74%,54.930
17,18,Chhattisgarh,"280,609","410,525",1.74%,54.806
18,19,Jharkhand,"243,348","358,863",1.52%,47.909
19,20,Uttarakhand,"184,274","267,143",1.13%,35.664
20,21,Jammu & Kashmir,"119,174","193,352",0.82%,25.813
21,22,Himachal Pradesh,"124,770","172,162",0.73%,22.984
22,23,Goa,"55,342","84,266",0.36%,11.250
23,24,Tripura,"39,487","62,550",0.27%,8.351
24,25,Chandigarh,"30,587","46,096",0.20%,6.154
25,26,Puducherry,"27,131","43,810",0.19%,5.849
26,27,Meghalaya,"24,267","38,785",0.16%,5.178
27,28,Sikkim,"20,728","37,557",0.16%,5.014
28,29,Manipur,"20,515","36,594",0.16%,4.885
29,30,Arunachal Pradesh,"19,707","34,775",0.15%,4.643
30,31,Nagaland,"17,336","31,038",0.13%,4.144
31,32,Mizoram,"18,494","27,824",0.12%,3.715
32,33,Andaman & Nicobar Islands,"7,172","10,371",0.04%,1.385

# 4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [28]:
driver = webdriver.Chrome()

In [29]:
driver.get('https://github.com/')

In [34]:
explore = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div/div/div/aside/div[2]/div/a')       
explore.click()

In [37]:
trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/main/div[1]/nav/div/a[3]')       
trending.click()

In [48]:
title = []
desc = []
cont_count = []
lang = []

In [49]:
title_ = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
for i in title_:
    if i.text is None :
        title.append("--") 
    else:
        title.append(i.text)
print(len(title),title)

20 ['tigerbeetle / tigerbeetle', 'astral-sh / uv', 'microsoft / generative-ai-for-beginners', 'ClayAmore / ER-Save-Editor', 'starship / starship', 'dortania / OpenCore-Legacy-Patcher', 'mrdbourke / pytorch-deep-learning', 'google / leveldb', 'LizardByte / Sunshine', 'microsoft / semantic-kernel', 'neovim / neovim', 'WerWolv / ImHex', 'yt-dlp / yt-dlp', 'wolfpld / tracy', 'goatcorp / Dalamud', 'Asabeneh / 30-Days-Of-Python', 'ocornut / imgui', 'pedroslopez / whatsapp-web.js', 'Koenkk / zigbee2mqtt', 'ruffle-rs / ruffle']

In [50]:
desc_ = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in desc_:
    if i.text is None :
        desc.append("--") 
    else:
        desc.append(i.text)
print(len(desc),desc)

20 ['The distributed financial transactions database designed for mission critical safety and performance.', 'An extremely fast Python package installer and resolver, written in Rust.', '18 Lessons, Get Started Building with Generative AI 🔗 https://microsoft.github.io/generative-ai-for-beginners/', 'Elden Ring Save Editor. Compatible with PC and Playstation saves.', '☄🌌️ The minimal, blazing-fast, and infinitely customizable prompt for any shell!', 'Experience macOS just like before', 'Materials for the Learn PyTorch for Deep Learning: Zero to Mastery course.', 'LevelDB is a fast key-value storage library written at Google that provides an ordered mapping from string keys to string values.', 'Self-hosted game stream host for Moonlight.', 'Integrate cutting-edge LLM technology quickly and easily into your apps', 'Vim-fork focused on extensibility and usability', '🔍 A Hex Editor for Reverse Engineers, Programmers and people who value their retinas when working at 3 AM.', 'A feature-rich command-line audio/video downloader', 'Frame profiler', 'FFXIV plugin framework and API', '30 days of Python programming challenge is a step-by-step guide to learn the Python programming language in 30 days. This challenge may take more than100 days, follow your own pace. These videos may help too: https://www.youtube.com/channel/UC7PNRuno1rzYPb1xLa4yktw', 'Dear ImGui: Bloat-free Graphical User interface for C++ with minimal dependencies', 'A WhatsApp client library for NodeJS that connects through the WhatsApp Web browser app', 'Zigbee 🐝 to MQTT bridge 🌉, get rid of your proprietary Zigbee bridges 🔨', 'A Flash Player emulator written in Rust']

In [51]:
cont_count_ = driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"][2]')
for i in cont_count_:
    if i.text is None :
        cont_count.append("--") 
    else:
        cont_count.append(i.text)
print(len(cont_count),cont_count)

20 ['432', '400', '27,135', '38', '1,823', '1,106', '2,737', '7,709', '729', '2,939', '5,484', '1,636', '5,960', '587', '253', '6,937', '9,892', '3,416', '1,619', '769']

In [52]:
lang_ = driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
for i in lang_:
    if i.text is None :
        lang.append("--") 
    else:
        lang.append(i.text)
print(len(lang),lang)

20 ['Zig', 'Rust', 'Jupyter Notebook', 'Rust', 'Rust', 'Python', 'Jupyter Notebook', 'C++', 'C++', 'C#', 'Vim Script', 'C++', 'Python', 'C++', 'C#', 'Python', 'C++', 'JavaScript', 'JavaScript', 'Rust']

In [53]:
df = pd.DataFrame({' Repository title':title, 'Repository description':desc, 'Contributors count':cont_count, 'Language used':lang})
df

,Repository title,Repository description,Contributors count,Language used
0,tigerbeetle / tigerbeetle,The distributed financial transactions databas...,432,Zig
1,astral-sh / uv,An extremely fast Python package installer and...,400,Rust
2,microsoft / generative-ai-for-beginners,"18 Lessons, Get Started Building with Generati...","27,135",Jupyter Notebook
3,ClayAmore / ER-Save-Editor,Elden Ring Save Editor. Compatible with PC and...,38,Rust
4,starship / starship,"☄🌌️ The minimal, blazing-fast, and infinitely ...","1,823",Rust
5,dortania / OpenCore-Legacy-Patcher,Experience macOS just like before,"1,106",Python
6,mrdbourke / pytorch-deep-learning,Materials for the Learn PyTorch for Deep Learn...,"2,737",Jupyter Notebook
7,google / leveldb,LevelDB is a fast key-value storage library wr...,"7,709",C++
8,LizardByte / Sunshine,Self-hosted game stream host for Moonlight.,729,C++
9,microsoft / semantic-kernel,Integrate cutting-edge LLM technology quickly ...,"2,939",C#
10,neovim / neovim,Vim-fork focused on extensibility and usability,"5,484",Vim Script
11,WerWolv / ImHex,"🔍 A Hex Editor for Reverse Engineers, Programm...","1,636",C++
12,yt-dlp / yt-dlp,A feature-rich command-line audio/video downlo...,"5,960",Python
13,wolfpld / tracy,Frame profiler,587,C++
14,goatcorp / Dalamud,FFXIV plugin framework and API,253,C#
15,Asabeneh / 30-Days-Of-Python,30 days of Python programming challenge is a s...,"6,937",Python
16,ocornut / imgui,Dear ImGui: Bloat-free Graphical User interfac...,"9,892",C++
17,pedroslopez / whatsapp-web.js,A WhatsApp client library for NodeJS that conn...,"3,416",JavaScript
18,Koenkk / zigbee2mqtt,"Zigbee 🐝 to MQTT bridge 🌉, get rid of your pro...","1,619",JavaScript
19,ruffle-rs / ruffle,A Flash Player emulator written in Rust,769,Rust

# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [55]:
driver = webdriver.Chrome()

In [56]:
driver.get('http://www.billboard.com/')

In [58]:
charts = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')       
charts.click()

In [60]:
view = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')       
view.click()

In [58]:
song = []
# artist = []
l_rank = []
p_rank = []
wb = []

In [59]:
song_ = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
for i in song_:
    if i.text is None :
        song.append("--") 
    else:
        song.append(i.text)
print(len(song),song)

100 ['Please Please Please', 'I Had Some Help', 'A Bar Song (Tipsy)', 'Espresso', 'Million Dollar Baby', 'Not Like Us', 'Too Sweet', 'Beautiful Things', 'Lose Control', 'Birds Of A Feather', 'Pink Skies', 'Houdini', 'Fortnight', 'Like That', 'Cowgirls', 'Good Luck, Babe!', 'Saturn', 'Lunch', "We Can't Be Friends (Wait For Your Love)", 'Austin', 'Whiskey Whiskey', 'I Remember Everything', 'Feather', 'Miles On It', 'Wanna Be', 'Lovin On Me', 'High Road', 'Stick Season', 'BAND4BAND', 'I Am Not Okay', 'Gata Only', 'Yeah Glo!', "Ain't No Love In Oklahoma", 'Slow It Down', 'Remember Him That Way', 'Chihiro', 'End Of Beginning', 'Get It Sexyy', 'The Man He Sees In Me', 'Bulletproof', 'Greedy', 'Agora Hills', 'Where It Ends', 'Stargazing', 'I Can Do It With A Broken Heart', 'I Like The Way You Kiss Me', 'Devil Is A Lie', 'Whatever She Wants', 'Sweet Dreams', 'One Of Wun', 'Type Shit', 'Euphoria', 'Dirt Cheap', 'Red Wine Supernova', 'Hot To Go!', 'Wild Ones', 'Wildflower', 'Attitude', 'U My Everything', 'Illusion', 'Brother Stone', 'Nasty', 'We Ride', 'Down Bad', 'Si No Quieres No', "Think I'm In Love With You", "Wind Up Missin' You", 'Wine Into Whiskey', 'Close To You', "L'amour De Ma Vie", 'The Thin Grey Line', 'Scared To Start', 'Bandit', 'The Boy Is Mine', 'Halfway To Hell', 'The Door', "Texas Hold 'Em", 'Tore Up', 'Belong Together', 'Your Place', 'After Hours', '360', "Who's Afraid Of Little Old Me?", 'Blue', 'Beautiful As You', 'Burgundy', 'Hell N Back', 'Guilty As Sin?', 'Enough (Miami)', 'Pink Pony Club', 'Thorns', 'Ice Age', 'Take Her Home', 'Let Your Boys Be Country', 'Front Door Famous', 'Spin You Around (1/24)', 'Get In With Me', 'Kryptonite', 'Carnival', 'Chevrolet']

In [70]:
artist = []
artist_ = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/span[1]')
for i in artist_[:100]:
    if i.text is None :
        artist.append("--") 
    else:
        artist.append(i.text)
# print(len(artist),artist)
for j in artist:
    print(j[1])

a

IndexError: string index out of range

# 6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [9]:
driver = webdriver.Chrome()

In [10]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [13]:
b_name = []
a_name = []
sold = []
publisher = []
genre = []

In [14]:
b_name_ = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[2]')
for i in b_name_:
    if i.text is None :
        b_name.append("--") 
    else:
        b_name.append(i.text)
print(len(b_name),b_name)

100 ['Da Vinci Code,The', 'Harry Potter and the Deathly Hallows', "Harry Potter and the Philosopher's Stone", 'Harry Potter and the Order of the Phoenix', 'Fifty Shades of Grey', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Prisoner of Azkaban', 'Angels and Demons', "Harry Potter and the Half-blood Prince:Children's Edition", 'Fifty Shades Darker', 'Twilight', 'Girl with the Dragon Tattoo,The:Millennium Trilogy', 'Fifty Shades Freed', 'Lost Symbol,The', 'New Moon', 'Deception Point', 'Eclipse', 'Lovely Bones,The', 'Curious Incident of the Dog in the Night-time,The', 'Digital Fortress', 'Short History of Nearly Everything,A', 'Girl Who Played with Fire,The:Millennium Trilogy', 'Breaking Dawn', 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar', 'Gruffalo,The', "Jamie's 30-Minute Meals", 'Kite Runner,The', 'One Day', 'Thousand Splendid Suns,A', "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy", "Time Traveler's Wife,The", 'Atonement', "Bridget Jones's Diary:A Novel", 'World According to Clarkson,The', "Captain Corelli's Mandolin", 'Sound of Laughter,The', 'Life of Pi', 'Billy Connolly', 'Child Called It,A', "Gruffalo's Child,The", "Angela's Ashes:A Memoir of a Childhood", 'Birdsong', 'Northern Lights:His Dark Materials S.', 'Labyrinth', 'Harry Potter and the Half-blood Prince', 'Help,The', 'Man and Boy', 'Memoirs of a Geisha', "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.", 'Island,The', 'PS, I Love You', 'You are What You Eat:The Plan That Will Change Your Life', 'Shadow of the Wind,The', 'Tales of Beedle the Bard,The', 'Broker,The', "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P", 'Subtle Knife,The:His Dark Materials S.', 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation', "Delia's How to Cook:(Bk.1)", 'Chocolat', 'Boy in the Striped Pyjamas,The', "My Sister's Keeper", 'Amber Spyglass,The:His Dark Materials S.', 'To Kill a Mockingbird', 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin', 'Dear Fatty', 'Short History of Tractors in Ukrainian,A', 'Hannibal', 'Lord of the Rings,The', 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio', 'Interpretation of Murder,The', 'Sharon Osbourne Extreme:My Autobiography', 'Alchemist,The:A Fable About Following Your Dream', "At My Mother's Knee ...:and Other Low Joints", 'Notes from a Small Island', 'Return of the Naked Chef,The', 'Bridget Jones: The Edge of Reason', "Jamie's Italy", 'I Can Make You Thin', 'Down Under', 'Summons,The', 'Small Island', 'Nigella Express', 'Brick Lane', "Memory Keeper's Daughter,The", 'Room on the Broom', 'About a Boy', 'My Booky Wook', 'God Delusion,The', '"Beano" Annual,The', 'White Teeth', 'House at Riverton,The', 'Book Thief,The', 'Nights of Rain and Stars', 'Ghost,The', 'Happy Days with the Naked Chef', 'Hunger Games,The:Hunger Games Trilogy', "Lost Boy,The:A Foster Child's Search for the Love of a Family", "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [15]:
a_name_ = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[3]')
for i in a_name_:
    if i.text is None :
        a_name.append("--") 
    else:
        a_name.append(i.text)
print(len(a_name),a_name)

100 ['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'James, E. L.', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'Brown, Dan', 'Rowling, J.K.', 'James, E. L.', 'Meyer, Stephenie', 'Larsson, Stieg', 'James, E. L.', 'Brown, Dan', 'Meyer, Stephenie', 'Brown, Dan', 'Meyer, Stephenie', 'Sebold, Alice', 'Haddon, Mark', 'Brown, Dan', 'Bryson, Bill', 'Larsson, Stieg', 'Meyer, Stephenie', 'Carle, Eric', 'Donaldson, Julia', 'Oliver, Jamie', 'Hosseini, Khaled', 'Nicholls, David', 'Hosseini, Khaled', 'Larsson, Stieg', 'Niffenegger, Audrey', 'McEwan, Ian', 'Fielding, Helen', 'Clarkson, Jeremy', 'Bernieres, Louis de', 'Kay, Peter', 'Martel, Yann', 'Stephenson, Pamela', 'Pelzer, Dave', 'Donaldson, Julia', 'McCourt, Frank', 'Faulks, Sebastian', 'Pullman, Philip', 'Mosse, Kate', 'Rowling, J.K.', 'Stockett, Kathryn', 'Parsons, Tony', 'Golden, Arthur', 'McCall Smith, Alexander', 'Hislop, Victoria', 'Ahern, Cecelia', 'McKeith, Gillian', 'Zafon, Carlos Ruiz', 'Rowling, J.K.', 'Grisham, John', 'Atkins, Robert C.', 'Pullman, Philip', 'Truss, Lynne', 'Smith, Delia', 'Harris, Joanne', 'Boyne, John', 'Picoult, Jodi', 'Pullman, Philip', 'Lee, Harper', 'Gray, John', 'French, Dawn', 'Lewycka, Marina', 'Harris, Thomas', 'Tolkien, J. R. R.', 'Moore, Michael', 'Rubenfeld, Jed', 'Osbourne, Sharon', 'Coelho, Paulo', "O'Grady, Paul", 'Bryson, Bill', 'Oliver, Jamie', 'Fielding, Helen', 'Oliver, Jamie', 'McKenna, Paul', 'Bryson, Bill', 'Grisham, John', 'Levy, Andrea', 'Lawson, Nigella', 'Ali, Monica', 'Edwards, Kim', 'Donaldson, Julia', 'Hornby, Nick', 'Brand, Russell', 'Dawkins, Richard', '0', 'Smith, Zadie', 'Morton, Kate', 'Zusak, Markus', 'Binchy, Maeve', 'Harris, Robert', 'Oliver, Jamie', 'Collins, Suzanne', 'Pelzer, Dave', 'Oliver, Jamie']

In [16]:
sold_ = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[4]')
for i in sold_:
    if i.text is None :
        sold.append("--") 
    else:
        sold.append(i.text)
print(len(sold),sold)

100 ['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936', '3,583,215', '3,484,047', '3,377,906', '3,193,946', '2,950,264', '2,479,784', '2,315,405', '2,233,570', '2,193,928', '2,183,031', '2,152,737', '2,062,145', '2,052,876', '2,005,598', '1,979,552', '1,928,900', '1,852,919', '1,814,784', '1,787,118', '1,783,535', '1,781,269', '1,743,266', '1,629,119', '1,616,068', '1,583,992', '1,555,135', '1,546,886', '1,539,428', '1,508,205', '1,489,403', '1,352,318', '1,310,207', '1,310,176', '1,231,957', '1,217,712', '1,208,711', '1,204,058', '1,184,967', '1,181,503', '1,181,093', '1,153,181', '1,132,336', '1,130,802', '1,126,337', '1,115,549', '1,108,328', '1,107,379', '1,104,403', '1,092,349', '1,090,847', '1,087,262', '1,054,196', '1,037,160', '1,023,688', '1,015,956', '1,009,873', '1,004,414', '1,003,780', '1,002,314', '998,213', '992,846', '986,753', '986,115', '970,509', '967,466', '963,353', '962,515', '959,496', '956,114', '945,640', '931,312', '925,425', '924,695', '906,968', '905,086', '890,847', '869,671', '869,659', '862,602', '856,540', '845,858', '842,535', '828,215', '820,563', '816,907', '816,585', '815,586', '814,370', '809,641', '808,900', '807,311', '794,201', '792,187', '791,507', '791,095']

In [17]:
publisher_ = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[5]')
for i in publisher_:
    if i.text is None :
        publisher.append("--") 
    else:
        publisher.append(i.text)
print(len(publisher),publisher)

100 ['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Transworld', 'Bloomsbury', 'Random House', 'Little, Brown Book', 'Quercus', 'Random House', 'Transworld', 'Little, Brown Book', 'Transworld', 'Little, Brown Book', 'Pan Macmillan', 'Random House', 'Transworld', 'Transworld', 'Quercus', 'Little, Brown Book', 'Penguin', 'Pan Macmillan', 'Penguin', 'Bloomsbury', 'Hodder & Stoughton', 'Bloomsbury', 'Quercus', 'Random House', 'Random House', 'Pan Macmillan', 'Penguin', 'Random House', 'Random House', 'Canongate', 'HarperCollins', 'Orion', 'Pan Macmillan', 'HarperCollins', 'Random House', 'Scholastic Ltd.', 'Orion', 'Bloomsbury', 'Penguin', 'HarperCollins', 'Random House', 'Little, Brown Book', 'Headline', 'HarperCollins', 'Penguin', 'Orion', 'Bloomsbury', 'Random House', 'Random House', 'Scholastic Ltd.', 'Profile Books Group', 'Random House', 'Transworld', 'Random House Childrens Books G', 'Hodder & Stoughton', 'Scholastic Ltd.', 'Random House', 'HarperCollins', 'Random House', 'Penguin', 'Random House', 'HarperCollins', 'Penguin', 'Headline', 'Little, Brown Book', 'HarperCollins', 'Transworld', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Transworld', 'Transworld', 'Random House', 'Headline', 'Random House', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Hodder & Stoughton', 'Transworld', 'D.C. Thomson', 'Penguin', 'Pan Macmillan', 'Transworld', 'Orion', 'Random House', 'Penguin', 'Scholastic Ltd.', 'Orion', 'Penguin']

In [19]:
genre_ = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[6]')
for i in genre_:
    if i.text is None :
        genre.append("--") 
    else:
        genre.append(i.text)
print(len(genre),genre)

100 ['Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction", 'Romance & Sagas', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Romance & Sagas', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Popular Science', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Picture Books', 'Picture Books', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Humour: Collections & General', 'General & Literary Fiction', 'Autobiography: General', 'General & Literary Fiction', 'Biography: The Arts', 'Autobiography: General', 'Picture Books', 'Autobiography: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Science Fiction & Fantasy', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'Fitness & Diet', 'General & Literary Fiction', "Children's Fiction", 'Crime, Thriller & Adventure', 'Fitness & Diet', 'Young Adult Fiction', 'Usage & Writing Guides', 'Food & Drink: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Popular Culture & Media: General Interest', 'Autobiography: The Arts', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Science Fiction & Fantasy', 'Current Affairs & Issues', 'Crime, Thriller & Adventure', 'Autobiography: The Arts', 'General & Literary Fiction', 'Autobiography: The Arts', 'Travel Writing', 'Food & Drink: General', 'General & Literary Fiction', 'National & Regional Cuisine', 'Fitness & Diet', 'Travel Writing', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'Picture Books', 'General & Literary Fiction', 'Autobiography: The Arts', 'Popular Science', "Children's Annuals", 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Food & Drink: General', 'Young Adult Fiction', 'Biography: General', 'Food & Drink: General']

In [20]:
df = pd.DataFrame({'Book name':b_name, 'Author name':a_name, ' Volumes sold':sold, 'Publisher':publisher, 'Genre':genre})
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [30]:
driver = webdriver.Chrome()

In [31]:
driver.get('https://archive.ics.uci.edu/')

In [32]:
dataset = driver.find_element(By.XPATH,'//a[@class="btn-primary btn"]')       
dataset.click()

In [33]:
expand = driver.find_element(By.XPATH,'//span[@class="swap-on text-primary-content"]')       
expand.click()

In [46]:
d_name = []
d_type = []
task = []
a_type = []
no_instance = []
no_attribute = []
year = []

In [47]:
d_name_ = driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
for i in d_name_:
    if i.text is None :
        d_name.append("--") 
    else:
        d_name.append(i.text)
print(len(d_name),d_name)

10 ['Iris', 'Dry Bean', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Raisin', 'Adult', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine', 'Wine Quality', 'Bank Marketing']

In [48]:
d_type_ = driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][2]')
for i in d_type_:
    if i.text is None :
        d_type.append("--") 
    else:
        d_type.append(i.text)
print(len(d_type),d_type)

10 ['Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate']

In [49]:
task_ = driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][1]')
for i in task_:
    if i.text is None :
        task.append("--") 
    else:
        task.append(i.text)
print(len(task),task)

10 ['Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification']

In [50]:
a_type_ = driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[2]')
for i in a_type_:
    if i.text is None :
        a_type.append("--") 
    else:
        a_type.append(i.text)
print(len(a_type),a_type)

10 ['Real', 'Integer, Real', 'Categorical, Integer, Real', 'Real', 'Real, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Real', 'Categorical, Integer']

In [51]:
no_instance_ = driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][3]')
for i in no_instance_:
    if i.text is None :
        no_instance.append("--") 
    else:
        no_instance.append(i.text)
print(len(no_instance),no_instance)

10 ['150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '900 Instances', '48.84K Instances', '569 Instances', '178 Instances', '4.9K Instances', '45.21K Instances']

In [52]:
no_attribute_ = driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][4]')
for i in no_attribute_:
    if i.text is None :
        no_attribute.append("--") 
    else:
        no_attribute.append(i.text)
print(len(no_attribute),no_attribute)

10 ['4 Features', '16 Features', '13 Features', '7 Features', '8 Features', '14 Features', '30 Features', '13 Features', '12 Features', '17 Features']

In [53]:
year_ = driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[3]')
for i in year_:
    if i.text is None :
        year.append("--") 
    else:
        year.append(i.text)
print(len(year),year)

10 ['7/1/1988', '9/14/2020', '7/1/1988', '10/6/2019', '8/14/2023', '5/1/1996', '11/1/1995', '7/1/1991', '10/7/2009', '2/14/2012']

In [54]:
df = pd.DataFrame({'Dataset name':d_name, 'Data type':d_type, 'Task':task, 'Attribute type':a_type, 'No of instances':no_instance, 'No of Attribute':no_attribute, 'Year':year})
df

,Dataset name,Data type,Task,Attribute type,No of instances,No of Attribute,Year
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Dry Bean,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,9/14/2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,7 Features,10/6/2019
4,Raisin,Multivariate,Classification,"Real, Integer",900 Instances,8 Features,8/14/2023
5,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,11/1/1995
7,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
8,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,10/7/2009
9,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45.21K Instances,17 Features,2/14/2012